<% form_for @user do |f| %>
  <%= error_messages_for :user %>

  <div class="input-wrapper">
    <%= f.label :email %>
    <%= f.text_field :email, :class => 'text' %>
  </div>

  <div class="input-wrapper">
    <%= f.label :password %>
    <%= f.text_field :password, :class => 'text' %>
  </div>

  <%= f.submit submit_text %>
<% end %>
